# Server Configuration
PORT=4000
NODE_ENV=development

# Database
MONGO_URI=your_mongodb_connection_string

# Frontend URL (CORS)
CLIENT_URL=http://localhost:5173

# Auth
JWT_SECRET=your_super_secret_jwt_key